In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Bladder_cancer.csv')

In [3]:
df.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-2F-A9KO-01,TCGA-2F-A9KP-01,TCGA-2F-A9KQ-01,TCGA-2F-A9KR-01,TCGA-2F-A9KT-01,TCGA-2F-A9KW-01,TCGA-4Z-AA7M-01,TCGA-4Z-AA7N-01,...,TCGA-ZF-AA4X-01,TCGA-ZF-AA51-01,TCGA-ZF-AA52-01,TCGA-ZF-AA53-01,TCGA-ZF-AA54-01,TCGA-ZF-AA56-01,TCGA-ZF-AA58-01,TCGA-ZF-AA5H-01,TCGA-ZF-AA5N-01,TCGA-ZF-AA5P-01
0,NaN,NaN,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,...,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer
1,NaN,100130426.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.4411,0.4216,0,1.227,0
2,NaN,100133144.0,20.4373,16.1382,13.3333,15.3523,14.0136,7.1159,22.4891,26.1199,...,24.036,0,4.2992,0,4.6306,5.8271,1.7032,3.3904,0,7.0317
3,NaN,100134869.0,37.8717,12.5759,10.7742,42.581,17.6427,2.3091,45.049,25.2546,...,10.3812,5.2751,14.5465,6.8871,8.0213,7.8474,2.0911,1.1387,0,4.0856
4,NaN,10357.0,123.09,137.886,104.678,146.453,142.962,176.877,126.356,97.3321,...,58.4972,119.088,91.4959,163.85,83.2794,185.673,210.181,186.938,155.301,114.113

In [4]:
df.shape

(20532, 409)

In [5]:
Bladder_cancer_train = df.iloc[:, :101]

In [6]:
Bladder_cancer_train.shape

(20532, 101)

In [7]:
Bladder_cancer_train.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-2F-A9KO-01,TCGA-2F-A9KP-01,TCGA-2F-A9KQ-01,TCGA-2F-A9KR-01,TCGA-2F-A9KT-01,TCGA-2F-A9KW-01,TCGA-4Z-AA7M-01,TCGA-4Z-AA7N-01,...,TCGA-DK-A1A7-01,TCGA-DK-A1AA-01,TCGA-DK-A1AB-01,TCGA-DK-A1AC-01,TCGA-DK-A1AD-01,TCGA-DK-A1AE-01,TCGA-DK-A1AF-01,TCGA-DK-A1AG-01,TCGA-DK-A2HX-01,TCGA-DK-A2I1-01
0,NaN,NaN,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,...,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer
1,NaN,100130426.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.3984,0,0,0,0,0
2,NaN,100133144.0,20.4373,16.1382,13.3333,15.3523,14.0136,7.1159,22.4891,26.1199,...,2.4763,12.8848,6.59,31.7991,18.7251,9.5514,0.627,15.3379,20.4654,3.3746
3,NaN,100134869.0,37.8717,12.5759,10.7742,42.581,17.6427,2.3091,45.049,25.2546,...,2.4152,3.6179,7.5682,14.7532,17.1315,7.1663,5.6431,8.5701,10.7846,8.324
4,NaN,10357.0,123.09,137.886,104.678,146.453,142.962,176.877,126.356,97.3321,...,170.596,128.474,129.798,209.017,98.5418,232.41,115.185,119.812,68.3178,72.7739

In [8]:
Bladder_cancer_train.to_csv('Bladder_cancer_train.csv', index = False)

In [15]:
Bladder_cancer_test = pd.concat([df.iloc[:, 0:2], df.iloc[:, 103:123]], axis = 1)

In [16]:
Bladder_cancer_test.shape

(20532, 22)

In [18]:
Bladder_cancer_test.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-DK-A2I6-01,TCGA-DK-A3IK-01,TCGA-DK-A3IL-01,TCGA-DK-A3IM-01,TCGA-DK-A3IN-01,TCGA-DK-A3IQ-01,TCGA-DK-A3IS-01,TCGA-DK-A3IT-01,...,TCGA-DK-A3WW-01,TCGA-DK-A3WX-01,TCGA-DK-A3WY-01,TCGA-DK-A3X1-01,TCGA-DK-A3X2-01,TCGA-DK-A6AV-01,TCGA-DK-A6AW-01,TCGA-DK-A6B0-01,TCGA-DK-A6B1-01,TCGA-DK-A6B2-01
0,NaN,NaN,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,...,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer,Bladder_cancer
1,NaN,100130426.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,100133144.0,1.8399,28.1985,10.0595,12.9442,5.1215,9.8872,12.8917,4.7516,...,0.6831,9.0341,0,5.4441,33.2104,9.1825,1.3902,5.6109,14.4957,4.5059
3,NaN,100134869.0,4.3225,21.5282,9.2762,2.4615,2.729,11.6513,8.5096,13.3872,...,5.4839,4.041,0.8565,6.9033,13.9497,9.1952,4.5764,9.3451,13.2473,3.4506
4,NaN,10357.0,229.713,116.146,112.112,111.284,83.3047,88.5538,179.108,144.129,...,189.279,251.23,379.379,273.888,195.744,227.319,229.344,127.782,195.981,143.664

In [17]:
Bladder_cancer_test.to_csv('Bladder_cancer_test.csv', index = False)

In [4]:
Gene_name_id = df.iloc[:, :2]
Gene_name_id

      Hugo_Symbol  Entrez_Gene_Id
0             NaN             NaN
1             NaN     100130426.0
2             NaN     100133144.0
3             NaN     100134869.0
4             NaN         10357.0
...           ...             ...
20527      ZYG11A        440590.0
20528      ZYG11B         79699.0
20529         ZYX          7791.0
20530       ZZEF1         23140.0
20531        ZZZ3         26009.0

[20532 rows x 2 columns]

In [5]:
Gene_name_id.to_csv('Gene_name_id.csv', index = False)